/* main settings and variables */
:root {
    --font-color-one: #000000;
    --font-color-two: red;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* making root font size similar to pixel size */
    font-size: 6.25%;
    font-family: 'Roboto', sans-serif;
    color: var(--font-color-two);
}

/* nav menu */
.navbar {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    font-size: 30rem;
}

.navbar img {
    height: 70rem;
    width: 70rem;
    margin: 0 30rem;
}

.navbar a {
    display: flex;
    align-self: center;
    text-decoration: none;
    color: var(--font-color-one);
}

.navbar a:nth-child(1) p {
    align-self: center;
}

/* temp change for me image */
a > img, main > section > div > img {
    filter: invert();
}

/* temp change */
main > section {
    background-color: #000000;
}