/* main settings and variables */
:root {
    --font-color-one: #000000;
    --font-color-two: #eeeeee;
    --font-color-three: red;

    --color-one: #eeeeee;
    --color-two: coral;
    --radius: 4px;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color-two);
    box-sizing: border-box;
}

main {
    align-items: center;
    position: relative;
    margin: auto;
    background-color: violet;
    min-width: 320px;
}



/* nav menu */
.navbar {
    background-color: inherit;
    align-items: center;
    position: absolute;
    overflow: hidden;
    display: flex;
    z-index: 999;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.navbar img {
    margin: 0 1rem;
    height: 5rem;
    width: 5rem;
}

.navbar a {
    color: var(--font-color-one);
    text-decoration: none;
    align-self: center;
    display: flex;
}

.menu-left-container, .menu-middle-container, .menu-right-container {
    background-color: transparent;
    align-items: center;
    display: flex;
    height: 5rem;
    width: 34vw;
}


.menu-left-container {justify-content: flex-start;}
.menu-middle-container {justify-content: space-evenly;}
.menu-right-container {justify-content: flex-end;}

.menu-right-container button, .menu-middle-container a {
    border-radius: var(--radius);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    font-weight: 300;
}


.menu-middle-container a:hover, .menu-right-container button:hover {
    background-color: var(--color-two);
    color: var(--font-color-two);
}

.menu-right-container button {
    margin-right: 1rem;
}

.menu-middle-container {
    list-style-type: none;
}

.menu-phone {
    background: -webkit-linear-gradient(-75deg,red 20%, coral 60%, black 20%);
    font-size: 1.5rem;

    -webkit-background-clip: text;  /* Google Chrome, Safari */
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;     /* Mozila Firefox */
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;      /* Internet Explorer */
    -ms-text-fill-color: transparent;
    -o-background-clip: text;       /* Opera */
    -o-text-fill-color: transparent;
}

/* hero section */
.hero-image {
    vertical-align: middle;
    object-fit: cover;
    z-index: 900;
    height: 100vh;
    width: 100%;
}

.slides {
    display: none
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.prev-btn, .next-btn {
    border-radius: 0 var(--radius) var(--radius) 0;
    transition: 0.5s ease-out;
    align-items: center;
    position: absolute;
    user-select: none;
    font-size: 4rem;
    cursor: pointer;
    padding: 16px;
    display: flex;
    height: 91%;
    width: auto;
    top: 9%;
}

.next-btn {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider-text-container {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: 91%;
    width: 100%;
    top: 9%;
}

.slider-text-container a {
    text-decoration: none;
}


.slider-text {
    background-color: coral;
    background: linear-gradient(45deg, coral, red);
    border-radius: var(--radius);
    padding: 1rem 2.5rem;
    user-select: none;
    color: #eeeeee;
    font-weight: 200;
    font-size: 2.5rem;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

.slider-lines {
    position: absolute;
    user-select: none;
    text-align:center;
    bottom: 10px;
    width: 100%;
}

.line {
    border-radius: var(--radius);
    background-color: #eeeeee;
    display: inline-block;
    cursor: pointer;
    margin: 0 4px;
    height: 4px;
    width: 30px;
}

.active, .dot:hover {
    background-color: coral;
    background: linear-gradient(45deg, coral, red);
    transform: scale(1.2);
    box-shadow: 0 0 3px rgba(255, 255, 255, 1);
}

.fade {
    animation: fade 1s ease-out;
}

@keyframes fade {
    0% {
        opacity: 20%;
    } 
    100% {
        opacity: 100%;
    }
}

/* description-section */

.description-section {
    padding: 5% 50px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    color: var(--font-color-one);
    margin: 0 auto;
}

.description-section h2 {
    font-size: 3rem;
    padding: 10px 0;
    font-weight: 400;
}

.description-section article {
    padding: 10px 0;
    color: var(--font-color-one);
    font-size: 1.5rem;
    line-height: 40px;
    font-weight: 200;
}

.description-section a {
    color: coral;
    background: -webkit-linear-gradient(75deg,coral, red);
    /* text-decoration: none; */
    font-size: 1.75rem;
    
    -webkit-background-clip: text;  /* Google Chrome, Safari */
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;     /* Mozila Firefox */
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;      /* Internet Explorer */
    -ms-text-fill-color: transparent;
    -o-background-clip: text;       /* Opera */
    -o-text-fill-color: transparent;
}

.description-section i {
    vertical-align: middle;
    margin-left: 8px;
}


/* features-section */

.features-section {
    background: linear-gradient(75deg,coral, red);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80vh;
}

.features-container {
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-evenly;
    color: var(--font-color-two);
    padding: 10vh 50px;
    max-width: 1600px;
    display: grid;
    gap: 15px;
}

.features-container div {
    background-color: rgba(255, 255, 255, 0.2);
    justify-content: space-evenly;
    border-radius: var(--radius);
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
    display: flex;
}

.features-container h3 {
    font-size: 2rem;
    margin: 15px 0;
    font-weight: 200;
}

.features-container i {
    font-size: 8rem;
}

.features-container p {
    padding: 20px 20px;
    font-size: 1.25rem;
    text-align: start;
    font-weight: 200;
}

/* divider */

.divider {
    background-color: var(--color-one);
    padding-bottom: 300px;
    position: relative;
}

.divider-container {
    background-color: var(--color-one);
    transform: rotate(-1.8deg);
    align-items: center;
    position: absolute;
    display: flex;
    justify-content: center;
    inset: -30px;
}

.divider-container div {
    transform: rotate(1.8deg);
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    width: 90%;
}

.divider hr {
    background-color: coral;
    background: linear-gradient(45deg, coral, red);
    border: none;
    height: 2px;
    width: 38%;
}

.divider h3 {
    width: 25%;
    color: var(--font-color-one);
    font-weight: 200;
    font-size: 3rem;
    min-width: 250px;
}

/* projects-section */

.projects-section {
    background-color: #000000;
    padding: 110px 0;
}

.projects-container {
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 80%;
    gap: 20px;
}

.project {
    display: grid;
    background-color: red;
    gap: 20px;
}

.project img {
    width: 100%;
    height: 100%;
}

.project article {
    width: 100%;
}

.line-one {
    grid-template-columns: 2fr 3fr;
}
.line-two {
    grid-template-columns: 3fr 2fr;
}
.line-three {
    grid-template-columns: 2fr 2fr;
    /* display: flex;
    flex-direction:row-reverse; */
}



/* github-section */

.github-section {
    background-color: green;
    height: 50vw;
}

.github-container h3 {
    font-size: 4rem;
    text-align: center;
}

.github-container img {
    object-fit: cover;
    width: 100%;
    height: 90%;
    opacity: 0.7;
}

/* wordpress-section */

.wordpress-section {
    background-color: blue;
    height: 50vh;
}

.wordpress-container {
    width: 100%;
}



/* ================================ @media */

@media (hover: hover) {

}
a:hover, button:hover {
    background-color: inherit;
}

@media screen and (max-width: 1500px) {
    /* navbar section */
    .menu-phone, .menu-right-container button, .menu-middle-container a {
        font-size: 1.25rem;
    }

    /* hero-section */
    .slider-text  {
        font-size: 2rem;
        padding: 1rem 2rem;
    }

    /* description-section */
    .description-section {
        padding: 10% 50px;
    }
    .description-section h2 {
        font-size: 3rem;
    }
    .description-section article, .description-section article a {
        font-size: 1.5rem;
    }
    .description-section {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* features-section */
    .features-section {
        height: 140vh;
    }
    .features-container {
        grid-template-columns: 48% 48%;
        padding: 5vh 20px;
        /* background: blue; */
    }
    .features-container div {
        height: 60vh;
        max-width: 600px;
    }
    .features-container h3 {
        font-size: 1.75rem;
    }
    .features-container i {
        font-size: 5rem;
    }
    .features-container p {
        padding: 20px 40px;
    }

    /* projects-section */
    .project {
        display: flex;
        flex-direction: column;
    }
    .projects-container div:last-of-type {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 1200px) {
    /* mobile dropdown menu TODO */
    .navbar button {
        color:red
    }
}

@media screen and (max-width: 700px) {

    /* description-section */
    .description-section h2 {
        font-size: 3rem;
    }
    .description-section article, .description-section article a {
        font-size: 1.5rem;
    }

    /* features-section */
    .features-section {
        height: 320vw;
    }
    .features-container {
        grid-template-columns: 100%;
        padding: 5vh 20px;
        /* background: green; */
    }
    .features-container div {
        height: 70vw;
        min-width: 320px;
        max-width: 440px;
    }
    .features-container h3 {
        font-size: 1.5rem;
    }
    .features-container i {
        font-size: 4rem;
    }
    .features-container p {
        font-size: 1rem;
    }

    /* divider */
    .divider {
        padding: 10vw 5vw;
    }
}


/* @media screen and (min-width: 2200px) {
    .features-container {
        padding: 10vh 300px;
    }
} */
