* {
    font-family: 'Roboto', sans-serif;
}

body {
    /* background: url(./assets/images/alexander-ant-EHlp8e-nQ3g-unsplash.jpg) no-repeat center center fixed; */
    /* background: url(./assets/images/risto-kokkonen-OELJMl0ZDh8-unsplash.jpg) no-repeat center center fixed; */
    /* background: url(./assets/images/vackground-com--ylEAG7OrvI-unsplash.jpg) no-repeat center center fixed; */
    background: url(./assets/images/milad-fakurian-YvYwTHcXaxI-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
}


/* ===== nav START */
nav {
    background-color: black;
}

.nav-contact-container {
    min-width: 170px;
}

.btn-danger {  /* Contact me Button */
    background-image: linear-gradient(-45deg, blue, purple);
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    font-size: 13px;
}

.btn-danger:hover {
    border-color: white;
    filter: contrast(180%);
}
/* ===== nav END */


/* ===== main description START */
.github-btn {
    padding: 10px 25px;
    border: none;
    border-radius: 3px;
    font-size: 13px;

}

.jumbotron {
    background-color: aliceblue;
    opacity: 90%;
    color: black;
}

.jumbotron > div > p {
    color: black !important;
}

.my-image-index {
    margin: 50px 0px 20px 0px;
    width: 250px;
    filter: drop-shadow(0 0 0.5rem rgb(141, 8, 151));
}

.my-image-contact {
    width: 20vh;
    filter: drop-shadow(0 0 0.5rem rgb(141, 8, 151));
}
/* ===== main description END */


/* ===== cards settings START */
.rating-stars {
    width: 20px;
}

.rating-text {
    font-size: 12px;
}

.box-shadow {
    background-color: black
    /* background-color: white; */
}

.card-image {
    padding: 3px;
    border-radius: 5px;
}
/* ===== cards settings END */


/* ===== skills START */
.skills-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.skill {
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.skill > p {
    margin-left: 26px;
    line-height: 20px
}

.skill[class="skill python"] {
    background-image: url("./assets/icons/python.png");
}

.skill[class="skill tkinter"] {
    background-image: url("./assets/icons/tkinter.png");
}

.skill[class="skill html"] {
    background-image: url("./assets/icons/html.png");
}

.skill[class="skill css"] {
    background-image: url("./assets/icons/css.png");
}

.skill[class="skill javascript"] {
    background-image: url("./assets/icons/js.png");
}

.skill[class="skill bootstrap"] {
    background-image: url("./assets/icons/bootstrap.png");
}

.skill[class="skill chrome"] {
    background-image: url("./assets/icons/chrome-devtools.png");
}

.skill[class="skill wordpress"] {
    background-image: url("./assets/icons/wordpress.png");
}

.skill[class="skill elementor"] {
    background-image: url("./assets/icons/elementor.png");
}
/* ===== skills END */

/* ===== footer section START */
.top-arrow {
    position: fixed;
    /* height: 40px; */
    /* width: 40px; */
    bottom: 20px;
    right: 20px;
    opacity: 50%;
}

.top-arrow > img {
    width: 45px;
    /* height: 35px; */
}

.top-arrow > img:hover {
    filter: invert();
}

@media (max-width:1000px) {
    .top-arrow > img {
        width: 35px;
    }
}
/* ===== footer section END */